<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    
    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <!-- <div class="form-group">
      <label for="date_constructed">Date Constructed</label><br/>
      <select class="form-control" id="date_constructed" name="property[property_data][date_constructed]">
        <option value="">Select year..</option>
        <option value="Unknown"<%= ' selected' if @property.property_data.present? and @property.property_data['date_constructed'].present? and @property.property_data['date_constructed'] == 'Unknown' %>>Unknown</option>
        <% (1900..(Time.now.year)).each do |year| %>
          <option value="<%= year %>"<%= ' selected' if @property.property_data.present? and @property.property_data['date_constructed'].present? and @property.property_data['date_constructed'].to_i == year %>><%= year %></option>
        <% end %>
      </select>
    </div> -->

    <div class="form-group">
      <label for="date_constructed"># of stories</label><br/>
      <select class="form-control" id="date_constructed" name="property[property_data][number_of_stories]">
        <option value="">Select a number..</option>
        <option value="Unknown"<%= ' selected' if @property.property_data.present? and @property.property_data['number_of_stories'].present? and @property.property_data['number_of_stories'] == 'Unknown' %>>Unknown</option>
        <% (1..50).each do |year| %>
          <option value="<%= year %>"<%= ' selected' if @property.property_data.present? and @property.property_data['number_of_stories'].present? and @property.property_data['number_of_stories'].to_i == year %>><%= year %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group button-list radio-button-list" data-property-field="property_use">
      <label for="date_constructed">Property use?</label><br/>

      <% property_uses.each do |use| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['property_use'].present? && @property.property_data['property_use'] == use %>"><%= use %></button>
      <% end %>

      <% if @property.property_data.present? and @property.property_data['property_use'].present? %>
        <input type="hidden" name="property[property_data][property_use]" value="<%= @property.property_data['property_use'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="roof_type">
      <label for="date_constructed">Roof type</label><br/>

      <% roof_types.each do |roof_type| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['roof_type'].present? && @property.property_data['roof_type'] == roof_type %>"><%= roof_type %></button>
      <% end %>

      <% if @property.property_data.present? and @property.property_data['roof_type'].present? %>
        <input type="hidden" name="property[property_data][roof_type]" value="<%= @property.property_data['roof_type'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="window_type">
      <label for="date_constructed">Window type</label><br/>

      <% window_types.each do |window_type| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['window_type'].present? && @property.property_data['window_type'] == window_type %>"><%= window_type %></button>
      <% end %>

      <% if @property.property_data.present? and @property.property_data['window_type'].present? %>
        <input type="hidden" name="property[property_data][window_type]" value="<%= @property.property_data['window_type'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="wall_type">
      <label for="date_constructed">Wall type</label><br/>

      <% wall_types.each do |wall_type| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['wall_type'].present? && @property.property_data['wall_type'] == wall_type %>"><%= wall_type %></button>
      <% end %>

      <% if @property.property_data.present? and @property.property_data['wall_type'].present? %>
        <input type="hidden" name="property[property_data][wall_type]" value="<%= @property.property_data['wall_type'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="number_of_inhabitants">
      <label for="date_constructed">Total # of inhabitants</label><br/>

      <% (0..20).each do |inhabitant_count| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['number_of_inhabitants'].present? and @property.property_data['number_of_inhabitants'] != 'Unknown' && @property.property_data['number_of_inhabitants'].to_i == inhabitant_count %>"><%= inhabitant_count %></button>
      <% end %>

      <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['number_of_inhabitants'].present? and @property.property_data['number_of_inhabitants'] == 'Unknown' %>">Unknown</button>

      <% if @property.property_data.present? and @property.property_data['number_of_inhabitants'].present? %>
        <input type="hidden" name="property[property_data][number_of_inhabitants]" value="<%= @property.property_data['number_of_inhabitants'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="number_of_inhabitants_under_twelve">
      <label for="date_constructed"># of inhabitants under 12</label><br/>

      <% (0..20).each do |inhabitant_count| %>
        <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['number_of_inhabitants_under_twelve'].present? and @property.property_data['number_of_inhabitants_under_twelve'] != 'Unknown' && @property.property_data['number_of_inhabitants_under_twelve'].to_i == inhabitant_count %>"><%= inhabitant_count %></button>
      <% end %>

      <button type="button" class="btn btn-default<%= ' active' if @property.property_data.present? and @property.property_data['number_of_inhabitants_under_twelve'].present? and @property.property_data['number_of_inhabitants_under_twelve'] == 'Unknown' %>">Unknown</button>

      <% if @property.property_data.present? and @property.property_data['number_of_inhabitants_under_twelve'].present? %>
        <input type="hidden" name="property[property_data][number_of_inhabitants_under_twelve]" value="<%= @property.property_data['number_of_inhabitants_under_twelve'] %>" />
      <% end %>

    </div>

    <div class="form-group button-list radio-button-list" data-property-field="porch">
      <label for="date_constructed">Comments</label><br/>

      <textarea name="property[property_data][comments]" class="form-control"><%= @property.property_data['comments'] if @property.property_data.present? and @property.property_data['comments'].present? %></textarea>

    </div>

  </fieldset>

  <div class="actions">

    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :coordinate_lat, value: params[:lat] %>
      <%= f.hidden_field :coordinate_lng, value: params[:lng] %>
    <% end %>

    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>
