<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<p>
  <strong>Coordinate x:</strong>
  <%= @property.coordinate_x %>
</p>

<p>
  <strong>Coordinate y:</strong>
  <%= @property.coordinate_y %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
